<%- include('./inc/head.ejs')%> 
<body>
    <p>Welcome to your inbox!</p>
    <div id="boxes">
        <a href="/inbox/inbox">Inbox</a>
        <a href="/inbox/sent">Sent</a>
        <a href="/inbox/thrash">Thrash</a>
    </div>
    <a href="/logout">Çıkış yap</a>
</body>
</html>