<%- include('./inc/head.ejs')%> 
<body>
    
    <p>xfxmaile hoşgeldiniz</p>
    
  
    <a href="/login" class="link link--elara">
						<span>Giriş yap</span>
					</a>
    <a href="/register" class="link link--elara">
						<span>Kayıt ol</span>
					</a>
</body>
</html>