<%- include('./inc/head.ejs')%> 
<body>
    <div id="form">
        <input type="text" name="username" id="username" placeholder="Kullanıcı adınız giriniz">
        <br>
        <input type="password" name="password" id="password" placeholder="Şifreniz">
        <input type="submit" value="Giriş Yap!">
    </div>
        
    
    

</body>
</html>